.movie-details {
    width: 50%;
    margin: 10px;
    border-left: 1px solid #cecece;
}

.movie-content {
    margin: 10px;
}

.no-movie-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
}

@media (max-width:600px) {
    .movie-details {
        width: 100%;
        border-left: 0px solid #cecece;
    }
}